params {
    fq_map = "fastq_map.tsv"
    parasite {
        fasta = "$projectDir/ref/PlasmoDB-54_PvivaxSal1_Genome.fasta"
        fasta_prefix = "$projectDir/ref/PlasmoDB-54_PvivaxSal1_Genome"
    }
    host{
        fasta = ["$projectDir/ref/host/hg38.fasta"]
        fasta_prefix = ["$projectDir/ref/host/hg38"]
    }
    known_sites = ["$projectDir/ref/pv_known_sites/known_sites.pv_1_0_NG.vcf"]
    genome_intervals = [
        "Pv_Sal1_chr01",
        "Pv_Sal1_chr02",
        "Pv_Sal1_chr03",
        "Pv_Sal1_chr04",
        "Pv_Sal1_chr05",
        "Pv_Sal1_chr06",
        "Pv_Sal1_chr07",
        "Pv_Sal1_chr08",
        "Pv_Sal1_chr09",
        "Pv_Sal1_chr10",
        "Pv_Sal1_chr11",
        "Pv_Sal1_chr12",
        "Pv_Sal1_chr13",
        "Pv_Sal1_chr14"
        ]



    // Ref: Cowell, Annie N., Hugo O. Valdivia, Danett K. Bishop, and Elizabeth A. Winzeler. 
    // “Exploration of Plasmodium Vivax Transmission Dynamics and Recurrent Infections in the Peruvian Amazon Using Whole Genome Sequencing.” 
    // Genome Medicine 10, no. 1 (July 4, 2018): 52. https://doi.org/10.1186/s13073-018-0563-0.

    // SNPs were filtered out if they met any of the following criteria: 
    // - quality depth (QD)<2.0
    // - mapping quality (MQ)<50.0
    // - phred-scaled p value using Fisher’s exact test to detect strand bias (FS) > 60.0
    // - symmetric odds ratio (SOR) > 4.0, 
    // - Z-score from Wilcoxon rank sum test of alternative vs. reference read mapping qualities (MQRankSum) < − 12.5
    // - ReadPosRankSum (RPRS) < − 8.0. V
    hard = true
    hard_filters = [
        [name: "QD.lt.2", filter: "QD<2.0"],
        [name: "MQ.lt.40", filter: "MQ<50.0"],
        [name: "FS.gt.60", filter: "FS>60.0"],
        [name: "SOR.gt.4.0", filter: "SOR>4.0"],
        [name: "MQRankSum.lt.-12.5", filter: "MQRankSum<-12.5"],
        [name: "ReadPosRankSum.lt.-8", filter: "ReadPosRankSum<-8.0"]
    ]


    vqsr = false
    // need to update once good resources are found for pv
    vqsr_resources = [ 
        [name: 'jacob2014_microarray_liftover', type: 'truth', prior: 15, vcf: '$projectDir/ref/jacob2014_chip_sites.vcf' ], 
        [name: 'Pfcross1_3d7_hb3_gatk_pass', type: 'training', prior: 12, vcf: '$projectDir/ref/pf_crosses_v1/3d7_hb3.gatk.final.vcf.gz' ], 
        [name: 'Pfcross1_7g8_gb4_gatk_pass', type: 'training', prior: 12, vcf: '$projectDir/ref/pf_crosses_v1/7g8_gb4.gatk.final.vcf.gz' ], 
        [name: 'Pfcross1_hb3_dd2_gatk_pass', type: 'training', prior: 12, vcf: '$projectDir/ref/pf_crosses_v1/hb3_dd2.gatk.final.vcf.gz' ]
    ]
    vqsr_opts = "-an QD -an FS -an SOR -an DP --max-gaussians 3 --mq-cap-for-logit-jitter-transform 70 "
    vqsr_mode = "SNP"
    

    
    outdir = "result"
}

env {
    TMPDIR="/tmp"
}

executor {
    $local {
        queueSize = 5
        cpus = 20
        pollInterval = '30 sec'
    }

    $sge {
        queueSize = 400
        pollInterval = '30 sec'
        
    }
}

profiles{
    standard {
        executor = 'local'
        process {
            conda = "$projectDir/environment.yaml" 
            errorStrategy = {task.attempt < 5 ? 'retry': 'ignore'}
            maxRetries = 5
            cpus = 1
            memory = '5 GB'
        
            withName: 'BOWTIE2.*' {
                cpus = 3
            }
        
            withName: 'SAMTOOLS_FASTQ' {
                cpus = 3
            }
            withName: 'GATK_GENOMICS_DB_IMPORT' {
                cpus = 10
                memory = '50 GB'
            }
            withName: 'GATK_GENOTYPE_GVCFS' {
                cpus = 10
                memory = '50 GB'
            }
        }
    }
    test {
        executor = 'local'
        process {
            conda = "$projectDir/environment.yaml" 
            errorStrategy = {task.attempt < 5 ? 'retry': 'ignore'}
            maxRetries = 5
            cpus = 1
            memory = '2 GB'
        
            withName: 'BOWTIE2.*' {
                cpus = 2
            }
        
            withName: 'SAMTOOLS_FASTQ' {
                cpus = 2
            }
            withName: 'GATK_GENOMICS_DB_IMPORT' {
                cpus = 2
                memory = '5 GB'
            }
            withName: 'GATK_GENOTYPE_GVCFS' {
                cpus = 2 
                memory = '5 GB'
            }
        }
    }
    sge {
        executor = 'sge'
        process {
            conda = "$projectDir/environment.yaml" 
            errorStrategy = {task.attempt < 5 ? 'retry': 'ignore'}
            maxRetries = 5
            cpus = 1
            memory = '5 GB'

            queue = "threaded.q"
            penv = "thread"
            clusterOptions = "-P toconnor-lab -cwd -V"
        
            withName: "BOWTIE2.*" {
                cpus = 3
            }
        
            withName: 'SAMTOOLS_FASTQ' {
                cpus = 3
            }
            withName: 'GATK_GENOMICS_DB_IMPORT' {
                cpus = 10
                memory = '50 GB'
            }
            withName: 'GATK_GENOTYPE_GVCFS' {
                cpus = 10
                memory = '50 GB'
            }
        }
    }
}

manifest {
    name            = 'snp_call_nf'
    author          = 'Bing Guo'
    homePage        = 'https://github.com/xxx'
    description     = 'Nextflow plasmodium SNP call pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '0.1'
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}
